.home {
  .maecen-logo {
    fill: red;
  }

  h4 {
    margin-top: 3rem;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 0.05rem;
  }

  .maecenates-bar{
    background-color: #E4E5EB;
    height: 4rem;
  }
}
