@import "settings";
@import "foundation";
@import "mobile-nav";
@import "home";
@import "projects";


//========================================= COLOR RULES ==========================

//========================================= GENERAL RULES ==========================
.padding {
  padding: 1rem;
}
.padding-bottom {
  padding-bottom: 1.2rem;
}
.padding-top {
  padding-top: 1.2rem;
}
.no-padding {
  padding: 0;
}

.margin {
  margin: 1rem;
}
.margin-bottom {
  margin-bottom: 1.2rem;
}
.margin-top {
  margin-top: 1.2rem;
}
.no-padding {
  margin: 0;
}

.button{
  text-transform: uppercase;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

//========================================= NAVBAR ===============================
#navbar {
}
//========================================= SLIDE IN NAV ==============================
#mobile {
}
//========================================= REGISTRATION PAGE ==========================
.css-form input.ng-invalid.ng-touched {
   background-color: $alert-color;
 }

 .css-form input.ng-valid.ng-touched {
   background-color: $success-color;
 }

//========================================= PROJECT PAGE ===============================
textarea{
  resize: none;
  min-height: 100px;
}

.sprite {
  display: none;
}

html{
  font-size: 80%;
}

@media (min-width: 500px) {
  html{
    font-size: 100%;
  }
}
