@import "settings";
@import "foundation";
@import "mobile-nav";

//========================================= GENERAL RULES ==========================
.padding {
  padding: 1rem;
}
.padding-bottom {
  padding-bottom: 1.2rem;
}
.padding-top {
  padding-top: 1.2rem;
}
.no-padding {
  padding: 0;
}

//========================================= REGISTRATION PAGE ==========================
.css-form input.ng-invalid.ng-touched {
   background-color: $alert-color;
 }

 .css-form input.ng-valid.ng-touched {
   background-color: $success-color;
 }

//========================================= PROJECT PAGE ===============================
textarea{
  resize: none;
  min-height: 100px;
}
