$golden: #C69C76;

@import "settings";
@import "foundation";
@import "mobile-nav";
@import "home";
@import "projects";


//========================================= COLOR RULES ==========================


//========================================= GENERAL RULES ==========================
.padding {
  padding: 1rem;
}
.padding-bottom {
  padding-bottom: 1.2rem;
}
.padding-top {
  padding-top: 1.2rem;
}
.no-padding {
  padding: 0;
}

.margin {
  margin: 1rem;
}
.margin-bottom {
  margin-bottom: 1.2rem;
}
.margin-top {
  margin-top: 1.2rem;
}
.no-padding {
  margin: 0;
}

.button{
  text-transform: uppercase;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

//========================================= NAVBAR ===============================
#navbar {
}
//========================================= SLIDE IN NAV ==============================
#mobile {
}
//========================================= REGISTRATION PAGE ==========================
.css-form input.ng-invalid.ng-touched {
   background-color: $alert-color;
 }

 .css-form input.ng-valid.ng-touched {
   background-color: $success-color;
 }

//========================================= PROJECT PAGE ===============================
textarea{
  resize: none;
  min-height: 100px;
}

.sprite {
  display: none;
}

html{
  p {
    font-size: 80%;
  }
  height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-color: rgba(43, 45, 47, 1);
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjE3OSUiIHI9IjE3OSUiPjxzdG9wIHN0b3AtY29sb3I9IiMyMTIyMjUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzIxMjIyNSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuMTUiLz48c3RvcCBzdG9wLWNvbG9yPSIjMzAzMjM0IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC4zMyIvPjxzdG9wIHN0b3AtY29sb3I9IiM0MDQxNDMiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjMzAzMjM0IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC42NiIvPjxzdG9wIHN0b3AtY29sb3I9IiMyMTIyMjUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjg1Ii8+PHN0b3Agc3RvcC1jb2xvcj0iIzIxMjIyNSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
    /* Android 2.3- hack (needed for the actual radial gradient) */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjE3OSUiIHI9IjE3OSUiPjxzdG9wIHN0b3AtY29sb3I9IiMyMTIyMjUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzIxMjIyNSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuMTUiLz48c3RvcCBzdG9wLWNvbG9yPSIjMzAzMjM0IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC4zMyIvPjxzdG9wIHN0b3AtY29sb3I9IiM0MDQxNDMiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjMzAzMjM0IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC42NiIvPjxzdG9wIHN0b3AtY29sb3I9IiMyMTIyMjUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjg1Ii8+PHN0b3Agc3RvcC1jb2xvcj0iIzIxMjIyNSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);

    background-image: radial-gradient(circle farthest-side at left 179px,rgb(33, 34, 37) 0%,rgb(33, 34, 37) 15%,rgb(48, 50, 52) 33%,rgb(64, 65, 67) 50%,rgb(48, 50, 52) 66%,rgb(33, 34, 37) 85%,rgb(33, 34, 37) 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

/* IE8- CSS hack */
@media \0screen\,screen\9 {
    body {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff212225",endColorstr="#ff212225",GradientType=0);
    }
}

@media (min-width: 500px) {
  html{
    p {font-size: 70%};
  }
}

@media (max-width: 500px) {
  .button {
    font-size: 60%;
  }
}
