@import "foundation";

//====================== COLORS =============
$purple: #8F2853;
$deep-purple: #09122C;

.topbar {
  display: flex;
  align-items: center;
  padding-top: 2rem;

  .logo {
    margin-left: 1rem;

    svg {
      fill: white;
      height: 4rem;
      width: 4rem;
    }
  }

  .topbar-buttons {
    margin-left: auto;
    .button {
      margin-bottom: 0;
    }
  }
}

#mobile-top-bar {
  font-family: 'Merriweather Sans', sans-serif;
  @extend %menu-bar;
  @include menu-bar-style(
    $background: transparent, // Background color of items
    $background-hover: rgba($deep-purple, 0.5), // Background color of item on hover
    $background-active: rgba($deep-purple, 0.9), // Background color of an active item
    $color: white, // Text color of items
    $color-hover: white, // Text color of item on hover
    $color-active: white, // Text color of item when active
    $autocolor: false // When true, all the above colors will be derived from $background
  );

  align-items: center;

  .home-link {
    padding: 0.5rem;

    svg {
      fill: white;
      padding: 0;
      height: 2rem;
      width: 2rem;
    }
  }

}

#mobile-slide-in {
  font-family: 'Merriweather Sans', sans-serif;
  padding: 0rem;
  margin: 0rem;
  @extend %panel-base;
  // Use the style mixin to define visual styles
  @include panel-style(
          $padding: 1rem,
          $background: $deep-purple
  );
}

#mobile-slide-in-nav {
  font-family: 'Merriweather Sans', sans-serif;
  padding: 0rem;
  margin: 0rem;
  @extend %menu-bar;
  @include menu-bar-layout(
          $orientation: vertical, // Can be horizontal or vertical
          $stretch: true // Set to false for a condensed menu
  );
  @include menu-bar-style(
          $background: rgba($deep-purple, 0.9), // Background color of items
          $background-hover: rgba($deep-purple, 0), // Background color of item on hover
          $background-active: rgba($deep-purple, 0.9), // Background color of an active item
          $color: rgba($gray, 0.6), // Text color of items
          $color-hover: $gray, // Text color of item on hover
          $autocolor: false // When true, all the above colors will be derived from $background
  );
  .is-active {
    color: white;
  }
  .title {
    color: $purple;
    font-size: 1.4rem;
    font-weight: bold;
  }
}

#placeholder_profile_img {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background: $purple;
  margin-right: 0.7rem;
}

#profile-bar {
  font-size: 1.2rem;
}

@media (min-width: 1000px) {
  .topbar {
    margin: 0 6rem;
  }
}
