---
name: createProject
url: /createProject
controller: CreateProjectCtrl
---

<div class="grid-container">

  <div class="grid-block padding-top">
    <div class="grid-content">

      <div class="card">
        <div class="card-divider">
          <h2 class="text-center">{{'CreateProjectTitel' | translate}}</h2>
        </div>
        <div class="card-section">
          <form novalidate>

            <label><strong>{{'NewProjectTitel' | translate}}</strong>
              <input ng-model="newProject.project.title" type="text" placeholder="Dodo and the dodos">
            </label>

            <!-- Logo -->
            <label><strong>{{'ProjectLogo' | translate}}</strong>
              <input id="logo_upload" type="file" onchange="angular.element(this).scope().logoChanged()" >
            </label>
            <!-- /Logo -->


            <label> <strong>{{'ProjectCategory' | translate}}</strong>
              <select ng-model="newProject.project.category" required>
                <option>Vælg</option>
                <option value="Musik">Musik</option>
                <option value="Kunst">Kunst</option>
                <option value="NGO">NGO</option>
              </select>
            </label>

            <label><strong>{{'ProjectTeaser' | translate}}</strong>
              <input ng-model="newProject.project.teaser" type="text" placeholder="{{'MaxTeaserChars' | translate}}">
            </label>

            <label><strong>{{'ProjectDescription' | translate}}</strong>
              <textarea ng-model="newProject.project.description"></textarea>
            </label>

            <label><strong>{{'ProjectUrl' | translate}}</strong>
              <input ng-model="newProject.project.homepage" type="text" placeholder="http://dodos.do/">
            </label>

            <!-- Project image -->
            <label><strong>{{'Cover' | translate}}</strong>
              <br/>
              <input id="cover_image_upload" type="file" onchange="angular.element(this).scope().coverImageChanged()" >
            </label>
            <!-- /project image -->

          </form>

          <br/>

          <a ng-click="createProject()" class="button success expand"><strong>{{'CreateProjectBTN' | translate}}</strong></a>
        </div>
      </div>


    </div>
  </div>

</div>
