---
name: createProject
url: /createProject
controller: CreateProjectCtrl
---

<div class="grid-container">

  <div class="grid-block padding-top">
    <div class="grid-content">

      <div class="card">
        <div class="card-divider">
          <h2 class="text-center">Opret projekt</h2>
        </div>
        <div class="card-section">
          <form novalidate>

            <label><strong>Titel</strong>
              <input ng-model="newProject.project.title" type="text" placeholder="Dodo and the dodos">
            </label>
            
            <!-- Logo -->
            <label><strong>Projekt logo</strong>
              <input id="logo_upload" type="file" onchange="angular.element(this).scope().logoChanged()" >
            </label>
            <!-- /Logo -->


            <label> <strong>Kategori</strong>
              <select ng-model="newProject.project.category" required>
                <option>Vælg</option>
                <option value="Musik">Musik</option>
                <option value="Kunst">Kunst</option>
                <option value="NGO">NGO</option>
              </select>
            </label>

            <label><strong>Teaser</strong>
              <input ng-model="newProject.project.teaser" type="text" placeholder="Max 140 karakterer...">
            </label>

            <label><strong>Beskrivelse</strong>
              <textarea ng-model="newProject.project.description"></textarea>
            </label>

            <label><strong>URL</strong>
              <input ng-model="newProject.project.homepage" type="text" placeholder="http://dodos.do/">
            </label>

            <!-- Project image -->
            <label><strong>Cover billede</strong>
              <br/>
              <input id="cover_image_upload" type="file" onchange="angular.element(this).scope().coverImageChanged()" >
            </label>
            <!-- /project image -->

          </form>

          <br/>

          <a ng-click="createProject()" class="button success expand"><strong>Opret projekt</strong></a>
        </div>
      </div>


    </div>
  </div>

</div>
