---
name: login
url: /login
controller: LoginCtrl
---

<div class="grid-container">

  <div class="grid-block padding-top">
    <div class="grid-content">

      <div class="card">
        <div class="card-divider">
          <h2 class="text-center">Login</h2>
        </div>
        <div class="card-section">
          <!-- Email -->
          <label><strong>Email</strong>
            <input ng-model="loginParams.email" type="text" placeholder="john-doe@example.com">
          </label>
          <!-- /email -->
          <label><strong>Password</strong>
            <input ng-model="loginParams.password" type="password">
          </label>
          <a ng-click="login(e)" class="button expand"><strong>Login</strong></a>
        </div>
      </div>


    </div>
  </div>

</div>
