---
name: profile
url: /profile
controller: ProfileCtrl
---

<div class="grid-container">


  <!-- Logged in as -->
  <div class="grid-block">
    <div class="grid-content">
      <h3 class="text-center"><strong>{{user.email}}</strong></h3>
    </div>
  </div>
  <!-- /logged in as -->

  <div class="grid-block">
    <div class="grid-content">
      <hr/>
    </div>
  </div>


  <form>
    <!-- First-/lastname -->
    <div class="grid-block">
      <div class="grid-content small-12 medium-6">
        <span class="label">Fornavn</span>
        <input ng-model="user.first_name" ng-readonly="readOnly == true" type="text" placeholder="Fornavn">
      </div>
      <div class="grid-content small-12 medium-6">
        <span class="label">Efternavn</span>
        <input ng-model="user.last_name" ng-readonly="readOnly == true" type="text" placeholder="Efternavn">
      </div>
    </div>
    <!-- /first-/lastname -->

    <!-- Mail -->
    <div class="grid-block">
      <div class="grid-content">
        <span class="label">Email</span>
        <input ng-model="user.email" ng-readonly="readOnly == true" type="text" placeholder="Email">
      </div>
    </div>
    <!-- /mail -->



    <!-- Alias -->
    <div class="grid-block">
      <div class="grid-content medium-6 small-6">
        <span class="label">Alias</span>
        <input ng-model="user.nickname" ng-readonly="readOnly == true" type="text" placeholder="Alias">
      </div>
      <div class="grid-content medium-6 small-6">
        <span class="label">Telefonnummer</span>
        <input ng-model="user.phone_number" ng-readonly="readOnly == true" type="text" placeholder="Telefonnummer">
      </div>
    </div>
    <!-- /alias -->

    <!-- Country and zip -->
    <div class="grid-block">
      <div class="grid-content medium-6 small-6">
        <span class="label">Land</span>
        <input ng-model="user.country" ng-readonly="readOnly == true" type="text" placeholder="Land">
      </div>
      <div class="grid-content medium-6 small-6">
       <span class="label">Postnummer</span>
          <input ng-model="user.zip_code" ng-readonly="readOnly == true" type="text" placeholder="Postnummer">
      </div>
    </div>
    <!-- /country and zip -->

    <div class="grid-block">
      <div class="grid-content">
        <select ng-model="user.account_type">
          <option ng-disabled="readOnly == true" value="normal">Mæcen</option>
          <option ng-disabled="readOnly == true" value="creative">Kreativ</option>
        </select>

        <a ng-click="submitUpdate()" class="button expand success fadeIn" ng-hide="readOnly == true">
          <strong>Opdater</strong>
        </a>

      </div>
    </div>



  </form>
  <!-- Toggle edit mode -->
  <label> Rediger profil
    <div class="switch small">
      <input ng-model="readOnly" type="checkbox" id="editMode-switch">
      <label for="editMode-switch"></label>
    </div>
  </label>
  <!-- /toggle edit mode -->

  <div class="grid-block">
    <div class="grid-content">
      <hr/>
    </div>
  </div>


</div>
