---
name: profile
url: /profile
controller: ProfileCtrl
---

<div class="grid-container">

  <!-- Logged in as -->
  <div class="grid-block">
    <div class="grid-content">
      <h3 class="text-center"><strong>{{user.email}}</strong></h3>
    </div>
  </div>
  <!-- /logged in as -->

  <div class="grid-block">
    <div class="grid-content">
      <hr/>
    </div>
  </div>


  <form>
    <!-- First-/lastname -->
    <div class="grid-block">
      <div class="grid-content small-12 medium-6">
        <input ng-model="updateAccount.first_name" type="text" placeholder="Fornavn">
      </div>
      <div class="grid-content small-12 medium-6">
        <input ng-model="updateAccount.last_name" type="text" placeholder="Efternavn">
      </div>
    </div>
    <!-- /first-/lastname -->

    <!-- Alias -->
    <div class="grid-block">
      <div class="grid-content">
        <input type="text" placeholder="Alias">
      </div>
    </div>
    <!-- /alias -->

    <!-- Mail -->
    <div class="grid-block">
      <div class="grid-content">
        <input ng-model="updateAccount.email" type="text" placeholder="E-mail">
      </div>
    </div>
    <!-- /mail -->

    <!-- Country and zip -->
    <div class="grid-block">
      <div class="grid-content medium-6 small-6">
        <input type="text" placeholder="Land">
      </div>
      <div class="grid-content medium-6 small-6">
        <input type="text" placeholder="Zip">
      </div>
    </div>
    <!-- /country and zip -->

    <div class="grid-block">
      <div class="grid-content">
        <hr/>
      </div>
    </div>

    <div class="grid-block">
      <div class="grid-content">
        <a ng-click="submitUpdate()" class="button expand success"><strong>Opdater</strong></a>
      </div>
    </div>


  </form>


</div>
