---
name: projects
url: /projects?user_id
controller: ProjectsCtrl
---

<div class="grid-block project-list">
  <div ng-repeat="project in projects" class="grid-content medium-6 padding">
    <div class="project">
      <div class="project-header">
        <img src="{{ project.logo_url }}">
        <p>{{ project.title }}</p>
      </div>
      <div class="img-holder">
        <img src="{{ project.cover_image_url }}">
      </div>
      <div class="teaser">
        {{ project.teaser }}
      </div>
    </div>
  </div>
</div>
