---
name: projects
url: /projects
controller: ProjectsCtrl
---
<div ui-view></div>
<div ng-show="$state.current.name === 'projects'" class="grid-block project-list view-narrow">
  <div ng-repeat="project in projects" class="grid-content medium-6 padding">
    <a class="project-card-link" ui-sref="projects.show({id:project.id})">
      <div class="project-card">
        <div class="project-header">
          <img src="{{ project.logo_url }}">
          <p>{{ project.title }}</p>
        </div>
        <div class="img-holder">
          <img src="{{ project.cover_image_url }}">
        </div>
        <div class="teaser">
          {{ project.teaser }}
        </div>
      </div>
    </a>
  </div>
</div>
