---
name: registrate
url: /
controller: RegistrationCtrl
---

<div class="grid-container">
  <form novalidate>

    <!-- Name -->
    <div class="grid-block">
      <div class="grid-content">
        <label><strong>{{'NameAndSurname' | translate}}</strong></label>
      </div>
    </div>
    <div class="grid-block">
      <div class="grid-content medium-6 small-12">
        <!-- Firstname --->
        <input ng-model="registrationForm.first_name" type="text" placeholder="{{'FirstName' | translate}}">
        <!-- /firstname -->
      </div>
      <div class="grid-content medium-6 small-12">
        <!-- Lastname -->
        <input ng-model="registrationForm.last_name" type="text" placeholder="{{'LastName' | translate}}">
        <!-- /lastname -->
      </div>
    </div>
    <!-- /name -->

    <!-- Contact information -->
    <div class="grid-block">
      <div class="grid-content medium-12">
        <label><strong>{{'ContactInfo' | translate}}</strong>
            <input ng-model="registrationForm.email" type="email" placeholder="{{'MailExample' | translate}}">
        </label>
      </div>
    </div>
    <!-- /contact information -->

    <div class="grid-block">
      <div class="grid-content">
        <label><strong>{{'Password' | translate}}</strong></label>
      </div>
    </div>
    <div class="grid-block">
      <div class="grid-content medium-6 small-12">
          <!-- Password -->
          <input ng-model="registrationForm.password" type="password" placeholder="{{'Password' | translate}}" >
          <!-- /password -->
      </div>
      <div class="grid-content medium-6 small-12">
        <!-- Password confirmation -->
        <input ng-model="registrationForm.password_confirmation" type="password" placeholder="{{'ConfirmPassword' | translate}}" >
        <!-- /password confirmation -->
      </div>
    </div>
  </form>

  <hr/>

  <!-- Registration button -->
  <div class="grid-block">
    <div class="grid-content">
      <a ng-click="registrateUser(registrationForm)" class="success button expand"><strong>{{'Register' | translate}}</strong></a>
    </div>
  </div>
  <!-- /registration button -->

</div>
